.equipment-column {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  justify-content: space-between;
  width: 20%;

  .equipment-cell {
    height: 33.33333%;
    border: 1px solid black;

    p {
      margin: 2.5px 0;
    }
  }
}