.page-view {
  border: 1px solid black;
  width: 800px;
  height: 700px;
  margin: 50px auto;
}

.character-view {
  //border: 1px solid red;
  height: 647px;
  display: flex;
  justify-content: space-between;
}

.character-name {
  border-bottom: 1px solid black;
}


.portrait-and-stats {
  width: 75%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;



  .stats {
    //border: 1px solid blue;
    height: 50%;
  }
}